

html, body{
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    font-family: Arial;
}

aside{
    background-color: #1e1e38;
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: scroll;
    color: #c7c7c7;
    
    
}

article{ 
    display: flex;
    flex: 2;
    flex-direction: column;
}



aside div{
    display: flex;
    flex: none;
    height: 150px;
    border-bottom: 1px solid #a8a8a8;

}

aside div img{
    display: flex;
    flex: 2;
    display: block;
    height: 120px;
    width: 120px;
    border: 1px solid #9a9a9a;
    position: relative;
    top: 8%;
    left: 5%;
    align-items: center;
    justify-content: center;
}

aside p{
    font-size: 14px;
    display: flex;
    flex: 3;
    position: relative;
    left: 8%;
}

aside p{

}

#player{
    flex-direction: column;
    background-color: #3e3e3e;
    display: flex;
    flex: 4;
    background-image: url('../img/playerbg.jpg');
}

#player h1{
    display: flex;
    flex: 1;
    font-weight: 100;
    margin: auto;
    align-items: center;
    justify-content: center;
    color: #e0e0e0;
    text-shadow: 2px 2px #222;
}

#player img{
    display: flex;
    height: 400px;
    width: 400px;
    border: 1px solid white;
    flex: 4;
    margin: 0 auto;
    box-shadow: 10px 10px #1a1a1a;
}

#player h2{
    
    display: flex;
    flex: 1;
    font-weight: 100;
    margin: auto;
    align-items: center;
    justify-content: center;
    color: #f5f5f5;
    text-shadow: 2px 2px #222;
    font-size: 19px;
}

#controls{
    background-color: #191919;
    display: flex;
    flex: 1;
    background-image: url('../img/controls1.jpg');
    background-repeat: no-repeat;
    
}

i{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}