/* Reset Styles */
body, div, h1, h2, h3, p, ol{
	margin: 0;
	padding: 0;
} 

/* Tag Rules */
body{
	background: url("../images/bg-fade.jpg") repeat-y;
	background-color: #white;
	font-family: arial;
	text-decoration: none;
}

/* Frame Styles */
#Container{
	background-color: #white;
	min-height: 2000px;
	width: 1000px;
	margin: auto;

}

#Links{
	text-decoration: none;
	background-color: #999999;
	min-height: 50px;
	width: 100%;
	font-weight: bold;

}

#Sidebar{
	margin-left: 20px;
}

header{
	background-color: white;
	min-height: 149px;
	width: 100%;
	margin-bottom: 20px;
	margin-top: 10px;
	
}

header h1 a{
	background: url("../images/logo1.png") no-repeat;
	background-size: 100%;
	display: block;
	height: 160px;
	width: 290px;
	text-indent: -9999px;
	float: left;
}

header h2{
	background: url("../images/workout-pic.jpg") no-repeat;
	background-size: 100%;
	height: 155px;
	width: 710px;
	display: block;
	float: left;
	background-position: 0 -120px;

} 
#MainContent{
	background-color: #dddddd;
	min-height: 1730px; 
	width: 700px;
	float: left;
}

#MainContent h1{
	position: relative;
	left: 40px;
	top: 40px;
}

#MainContent p{
	position: relative;
	left: 40px;
	top: 40px;
}

#MainContent div{
	background-color: #e8e8e8;
	min-height: 1700px;
	width: 670px;
	margin-left: 15px;
	margin-top: 15px;


}

iframe{
	position: relative;
	left: 40px;
	top: 40px;
}

aside{
	background-color: #cccccc;
	min-height: 1730px;
	width: 300px;
	float: left;
}

aside h1{
	background: url("../images/gyms-logo.png") no-repeat;
	background-size: 100%;
	height: 250px;
	width: 270px;
	margin-top: 30px;
	margin-left: 15px;
	margin-right: 15px;
}
aside h2{
	font-size: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 25px;
	
}

aside h3 a{
	background: url("../images/looking.png") no-repeat;
	background-size: 100%;
	height: 140px;
	width: 270px;
	display: block;
	margin-left: 10px;
	margin-top: 20px;
	text-indent: -9999px;
}

aside h2 a{
	text-decoration: none;
	color: black;
}	

aside p{
	font-size: 15px;
	margin-left: 30px;
	margin-right: 20px;
	margin-bottom: 20px;

}

footer{
	background-color: #f1f1f1;
	min-height: 25px;
	width: 100%;
	margin-top: 15px;
	clear: both;
	text-indent: 300px;

}

/* Classes */
.clear{
	clear: both;
}

/* Nav Styles */

nav{

}

nav ul{

}

nav ul li{
	float: left;
	list-style: none;
	position: relative;
}

nav ul li a{
	color: white;
	background-color: #999999;
	padding: 12px 40px;
	display: inline-block;

}

nav ul li a:hover{
	color: white;
	background-color: #aaaaaa;
}

/* Sub Nav Styles */

nav ul ul{
	position: absolute;
	top: 43px;
	left:-9999px;
	padding:0;
}

nav ul li:hover ul{
	left: 0;
}

nav ul ul li{
	float: none;
}

nav ul ul a{
	width: 150px;
}

/* Forms */

form{
	position: relative;
	left: 40px;
	top: 40px;
}